*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-template-areas:
    "hd hd hd hd hd"
    "ls gl . sbl rs"
    ". . . tpc rs"
    "ft ft ft ft ft";
    gap: 10px;
}

.header{
    grid-area: hd;
}

.left-sidebar{
    grid-area: ls;
}

.grocery-list{
    grid-area: gl;
}

.shopping-basket-list{
    grid-area: sbl;
}

.right-sidebar{
    grid-area: rs;
}

.footer{
    grid-area: ft;
}

.total-price-container{
    grid-area: tpc;
    display: flex;
    justify-content: flex-end;
}

.list{
    background-color: lightgrey;
    border: 2px solid lightslategrey;
    padding: 20px;
}

button{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

img{
    margin: 2px;
}

.ordered-products{
    overflow-y: scroll;
    max-height: 700px;
    font-family: monospace, sans-serif;
    font-size: 30px;
}

    .pay-button {
        background-color: #43b3fd;
        border: none;
        padding: 10px 20px;
        margin: 20px auto; 
        display: block;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
        transition: background-color 0.3s;

    .pay-button:hover {
        background-color: #096aaa;}}
        



