/* #foto-css{
    display: flex;
    justify-content: left;
    align-items: last baseline;
} */


  #foto-css {
    width: 400px; /* Adjust the width as per your requirement */
    height: auto; /* Maintain aspect ratio */
  }
 
  footer{
    font-size: x-large;
  }